@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');
* {
    font-family: 'Josefin Sans', sans-serif;
} 

.rectangle {
    align-content:center;
    border: 2px solid black;
    display: flex;
    height: 450px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 900px;
}

.WeatherCard--maintext #current-time {
    font-size: 28px;
    margin-top: -45px;
    padding-left: 80px;
}

.WeatherCard--maintext #vl {
    border-left: 2px solid black;
    height: 310px;
    margin-left: 500px;
    position: absolute;
  }

.WeatherType--links a {
    color: black;
    float: right;
    font-size: 20px;
    margin-right: 60px;
    margin-top: -10px;
    text-decoration: none;
}

.WeatherCard--maintext h2 {
    font-size: 60px;
    padding-top: 40px;
    padding-left: 80px;
}

.WeatherCard--maintext h3 {
    font-size: 60px;
    margin-top: 180px;
    padding-left: 240px;
    position: absolute;
}

.WeatherCard--maintext h4 {
    font-size: 150px;
    font-weight: 350;
    margin-top: 15px;
    padding-left: 180px;
    position: absolute;
}

.WeatherCard--body {
    float: right;
    font-size: 25px;
    padding-right: 170px;
    margin-top: 5px;
}

.WeatherCard--weathertype svg {
    height: auto;
    padding-left: 140px;
    position: absolute;
    width: 80px;
    margin-top: 160px;
}
